/* FooterIcons.module.css */

.footerIcons {
  display: flex;
  justify-content: space-around;
  background-color: #a6bcdf;
  padding: 10px 0;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1e293b;
  cursor: pointer; /* Cambia el cursor al hacer hover */
}

.iconContainer.active .customIcon,
.iconContainer.active .iconTitle {
  color: #6b185e; /* Color del ícono y del texto cuando está activo */
}

.iconTitle {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #1e293b;
  transition: color 0.3s ease; /* Añadido para suavizar la transición del color */
}

.customIcon {
  width: 24px;
  height: 28px;
}
