/* Estilos para CategoryIcons.jsx */

.category-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    font-size: 3px;
    overflow-x: scroll;
  }
  
  .category-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3px;
  }
  
  .category-icon img {
    width: 30px;
    height: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%; /* Para crear círculos */
  }
  
  .category-icon span {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  