.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinear elementos arriba */
    width: 100vw;
    
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 100px;
}

.right-section {
    width: 60%; 
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
 
    justify-content: space-evenly;

}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      gap: 100px;

}


.copyrigth {
    width: 100%;
    text-align: center;
    padding-top: 20px; /* Espacio superior */
    border-top: #fff solid 2px;
    padding-right: 80px;
}
