.popup-cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Añadir flexbox */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-cart-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80vw;
  max-width: 500px;
  overflow: auto;
  padding: 5px 20px 20px 20px;
}

.popup-cart-top {
  display: flex;
  justify-content: space-between; 
  border-bottom: solid 2px #6b185e;
  color: #ab5195;
  align-items: baseline;
 

}
.popup-cart-top h2{
  margin-bottom: 3px;
}
.popup-cart-top span{
  font-size: 2.3rem;
}


.cart-items {
  text-align: center;
  padding: 1rem 0; /* Añadir padding para separación interna */
}

.popup-cart-close-button {
  cursor: pointer;
  font-size: 1.5rem;
}

.popup-cart-close-button:hover {
  color: #555;
}
