.menu {
  position: fixed;
  top: 10%;
  right: -100%;
  width: 95%;
  height: auto;
  border: 2px solid #6b185e;
  background-color: #eff5fe;
  transition: right 0.3s ease;
  z-index: 1000;
  border-radius: 18px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.8);; 
  z-index: 10; 
}


.menu.open {
  right: 0;
  top: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #6b185e;
}
.line{
  border-bottom: 1px solid rgba(171, 81, 149, 0.50);
 width: 95%;
  margin-left: 2%;
}

.authLinks {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.searchContainer {
  display: flex;
}
.authButton {
  font-size: 14px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-weight: 500;
  color: #6b185e;
  text-decoration: none;
  cursor: pointer;
}
.authButtons {
  display: flex;
  align-items: center;
}
.separator {
  margin: 0;
}

.searchInput {
  font-size: 14px;
  width: 92%;
  height: 32px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #eff5fe;
  border: 1.5px solid #6b185e;
  border-radius: 4px;
  outline: none;
  margin-left: 0.5rem;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
::placeholder {
  font-size: 16px;
  color: #6b185e;
  font-weight: 600;
}
.searchContainer {
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
  width: 80%;
}

.searchIcon {
  position: absolute;
  right: 25px;
  top: 40%;
  transform: translateY(-50%);
  color: #6b185e;
}

.buttonFilter {
  border: 1.5px solid #6b185e;
  height: 50px;
  width: 58px;
  margin-bottom: 1.2rem;
  background-color: #eff5fe;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.mostSearched {
  display: flex;
 flex-direction: column;
}
.buttonContainer {
  display: flex;
}
.titleSearch {
  font-size: 14px;
  color: #6b185e;
  font-weight: 600;
  margin-left: 0.5rem;
}
.searchButton {
  color: #1e293b;
  margin: 0.5rem;
  font-size: 10px;
  font-weight: 600;
  border: 1.5px solid #1e293b;
  background-color: #eff5fe;
  width: 40%;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:focus{
  color: #A6BCDF;
  background-color: #6b185e;
}
.buttonOut{
  font-size: 14px;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  margin: 3%;
  gap: 10px;
  color: #6b185e;
  cursor: pointer;
  font-weight: 500;
}