.container{
    background-color: #762005;
    color: white ;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

}
.sectionContainer{
padding-bottom: 1rem;
line-height: 0.5rem;
}
.section{
    padding-bottom: 1rem;
}