.container {
  margin: 0rem 1rem 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  border: transparent solid 1px;
  position: relative;
}

.image {
  width: 100%;
}

.imageButtons {
  position: relative;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 1rem;
  color: #6b185e;
}

.chevronButton {
  box-shadow: none;
  border: none;
  color: #ab5195;
}

.nameStyle {
  color: #171733;
  padding-left: 1rem;
}

.description {
  padding-left: 1rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottomButton {
  padding: 0.5rem 1rem;
}

.bottomButtonRight {
  background-color: rgb(107, 24, 94);
  color: #ebf1fa;
  padding-right: 1rem;
  font-weight: 500;
}

.delivery {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ab5195;
  margin: 0.5rem 1rem;
}

.truckIcon {
  color: #ebf1fa;
}

.deliveryText {
  color: #ebf1fa;
}

.policy {
  border: none;
  color: #6b185e;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 1.5rem;
}
.customRadioButton {
  appearance: none;
  background-color: #6b185e;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  position: relative;
}
.customRadioButton.selected::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
}
.customRadioButton::before {
  background-color: #6b185e;
}
