.container {
  margin: 0rem 1rem 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  border: transparent solid 1px;
  position: relative;
}

.image {
  width: 100%;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  
}
.styleInput{
  width: 55%;
  color: #6B185E;
  font-size: 18px;
  font-weight: 700;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: none;
}
.quantityButton{
position: absolute;
top: 70%;
left: 25%;
text-align: center;
border: 1.5px solid  #6B185E;
border-radius: 10px;
background:  #EFF5FE;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding: 10px;
width: 45%;

}
.quantityButton button{
  border-radius: 5px;
  background: #6B185E;
  border: none;
}
.imageButtons {
  position: relative;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding: 1rem;
  color: #6b185e;
}

.chevronButton {
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  border: none;
  color: #6B185E;
}
.quantityButton img {
  filter: invert(82%) sepia(9%) saturate(3106%) hue-rotate(169deg) brightness(97%) contrast(89%);
  cursor: pointer;
}

.nameStyle {
  color: #171733;
  padding-left: 1rem;
}

.description {
  padding-left: 1rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottomButton {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 700;
}
.bottomButton:hover{
  background-color: #AB519580;
}

.bottomButtonRight {
  font-size: 16px;
  background-color: rgb(107, 24, 94);
  color: #A6BCDF;
  padding-right: 3rem;
  font-weight: 500;
}
.bottomButtonRight:hover{
  background:  rgb(107, 24, 94);
}

.delivery {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ab5195;
  margin: 0.5rem 1rem;
}

.truckIcon {
  color: #ebf1fa;
}

.deliveryText {
  color: #ebf1fa;
}

.policy {
  border: none;
  color: #6b185e;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 1.5rem;
}
.customRadioButton {
  appearance: none;
  background-color: #6b185e;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  position: relative;
  border:1px solid #6b185e;
}
.customRadioButton.selected::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
}
.customRadioButton::before {
  background-color: #6b185e;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
