
.buttonContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: #f77f00 solid 2px;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 21%;
  right: 30%;
  background-color: #FEEBC1;

}
.buttonIcon {
  padding: 0.2rem;

}

.buttonStyle {
  margin: 0.5rem;
  border: #f77f00 solid 2px;
  background-color: transparent;
  color: #f77f00;
  font-weight: 600;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
