.container {
  position: fixed;
  width: 1rem;
  height: 1rem;
  bottom:12%;
  right: 20%;
  box-shadow: 2px 2px 3px #999;
  z-index: 2;
}

.wspStyle {
  position: absolute;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
