.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #F77F00;
}
.logo {
  color: #762005;
  font-weight: bolder;
  font-size: 1.5rem;
}
.icon {
  text-decoration: none;
  color:  #762005;
  padding-right: 25%;
  font-size: 1.5rem;
}
.iconWraper {
  display: flex;
  flex-direction: row;
}
