.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #EFF5FE;
}
.logo {
 width: 40%;
}

.icon {
  text-decoration: none;
  color:  #1E293B;
  padding-right: 25%;
  font-size: 1.5rem;
}
.iconWraper {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
