.headerContainer{
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #EFF5FE;
  box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 7px 8px 5px -5px rgba(0, 0, 0, 0.35);
position: relative;

}
.logo {
 width: 40%;
}

.cartIcon{
  text-decoration: none;
  color:  #1E293B;
  padding-right: 25%;
  font-size: 1.5rem;
}
.iconWraper {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
