 .cartContainer {
  padding: 15px;
  box-sizing: border-box;
  margin: 0;
  color:#AB5195;
 
   
}
.purpleColor{
  color:#6b185e
}

.topRightButton {
  text-align: left;
  margin-bottom: 10px;
}
.titleCart {
  border-bottom: 2px solid #AB5195;
  padding-left: 5px;
}

.buttonContain {
  display: flex;
  justify-content: space-between;
}

.buttonCart{
  padding: 0.5rem;
  background-color: transparent;
  color: #6b185e;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.buttonR {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.buttonL {
  border: #6b185e solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cartContainer {
  margin-top: 20px;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  flex-direction: column;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.topTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titleProduct{
  display: flex;
  flex-direction: column;
}

.imgProduct {
  width: 124px;
  height: 124px;
  margin:5px;
  border:2px solid #6b185e;
}

.productName {
  font-weight: bold;
  color: #6b185e;
}

.productDescription {
  margin-top: 5px;
  color: #AB5195;
}

.totalMinorista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  color: #AB5195;
  border-bottom: #AB5195 2px solid;
  align-items: center;
}

.detailRow {
  display: flex;
  justify-content: space-between;
}



.detailTitle {
  font-weight: bold;
}

.detailValue {
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
}

.paymentForm {
  margin-top: 30px;
}

.paymentOptions {
  display: flex;
  flex-direction: column;
}

.paymentOption {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 10px;
}

.yellowLink {
  background-color: rgb(255, 202, 26);
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}
.label{
  margin-bottom: 0;
  line-height: 1%;
}

.phrases {
  font-size: 12px;
  margin: 0px 0px 0px 10px;
}
.miniphrases{
  padding: 0px 0px 5px 30px;
font-size: small};

.shortInput {  width: 70px;
}

.expiryAndCvc {
  display: flex;
  gap: 10px;
}

.shippingForm {
  margin-top: 30px;

}
.inputsContainer{ display: flex;
  flex-direction: column;

}
 .customeRadio{
  color:#AB5195;
  font-weight:bold;
 }
 

.customerData,
.receiverData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.dataHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hideInputs {
  display: none;
  flex-direction: column;
  width: 100%;
  background: none;
  padding: 10px;
  margin-top: 10px;
}

.visible {
  display: flex;
}

.editLink {
  cursor: pointer;
  text-decoration: underline;
}
.commentBox {
  justify-content: center;
  justify-content: center;
  align-items: center;
}
.textareaForm {
  width: 90%;
  height: 100px;
  margin-top: 10px;
  border-radius: 5%;
  margin: 5px;


  padding: 10px;
}

.confirmation {
  margin-top: 30px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.confirmationDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.confirmationProduct {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.qrImage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.listShipping{
list-style: none;
margin:0px;
padding: 0px;
}
