.topCart {
  border-bottom: 1px solid #AB5195;
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 10px 20px;
  font-weight: bold;
  color: #AB5195;
  padding: 5px;
  box-sizing: border-box;
}
.cartMContainer {
  width: 100%;
  padding: 20px;
  color: #AB5195;
  box-shadow: 0 4px 8px rgba(208, 194, 194, 0.1);
  box-sizing: border-box;
}

.productContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.topTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  margin-right: 30px;
  border-radius: 0.5rem;
  padding: 0.2rem;
  border: #AB5195 solid 2px;
}

.productName {
  font-weight: bold;
}

.productDescription {
  margin-bottom: 10px;
  font-size: smaller;
}
.detailRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #AB5195;
  margin: 5px 0;
  padding: 5px;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.detail {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.detailTitle {
  font-weight: bold;
}

.cartDetails {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.buttonContain {
  display: flex;
  justify-content: space-between;

}

.buttonCart {
  padding: 0.5rem;
  background-color:transparent;
  color:#6B185E;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.buttonR{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.buttonL{
  border: #6B185E solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
