.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 10;
}

.content {
    background: #eff5fe;
    padding: 1rem;
    width: 60%;
    border-radius: 0.5rem;
    color: #6b185e;    
}

.cross {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    height: fit-content;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}
.arrowButton{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    ;
}
/* Acordeon */
.acordionContainer {
    border-top: 1px solid #1d38ce;
    padding-top: 10px;
  }
  
  .acordionHeader {
    cursor: pointer;
    padding: 10px;
    background-color: #a50f0f;
    border-bottom: 1px solid #ccc;
  }
  
  .acordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 10px;
  }
  
  .acordionContent.show {
    max-height: 3rem; /* Ajusta este valor según sea necesario */
  }