
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    to left,
    rgba(247, 127, 0, 0.3) 25%,
    rgba(252, 205, 87, 0.3) 20% 50%,
    rgba(247, 127, 0, 0.3) 50% 75%,
    rgba(252, 205, 87, 0.3) 75%
   
    
  );
  position: relative;
  z-index: 1;
}
  
  .logo {
      width: 100%;
      color: #762005;
      padding: 5%;
      font-weight: bolder;
      font-size: 1.5rem;
      background: #F77F00;
      margin-left: 10%;
    }
  
  .title {
    width: 100%;
      color: #762005;
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.5px;
  }
  form{
    width: 100%;
  }
  
  .inputGroup {
    padding: 5%;
  }
  
  .inputGroup label {
      color: #171733;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 5%;
  }
  
  .inputGroup label::after {
      content: ' *';
      color: #FF0A0A;
      font-size: 18px;
      font-weight: 400;
     
  }
  
  .inputGroup input {
    height: 52px;
    width: 100%;
    padding: 10px;
    border: 1.5px solid #F77F00;
    background: #FEEBC1;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
  
   
  }
  
  .inputGroup input:-webkit-autofill,
  .inputGroup input:-webkit-autofill:focus {
      background-color: #FCCD57 !important;
      -webkit-box-shadow: 0 0 0px 1000px #FCCD57 inset !important;  
      transition: background-color 0.3s ease;
  }
  
   
  .inputGroup input:-moz-autofill {
      background-color: #FCCD57 !important; 
      transition: background-color 0.3s ease;
  }
  
  .inputGroup input:-ms-autofill {
      background-color: #FCCD57 !important; 
      transition: background-color 0.3s ease;
  }
  .passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .passwordWrapper input {
    flex: 1;
    padding-right: 40px; 
  }
  
  .passwordToggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  ::placeholder {
    color: rgba(247, 127, 0, 0.50 #6B185E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .errorInput {
    border: 1.5px solid  red !important;
  }
  .helperMessage {
    display: block;
    margin-top: 5px;
    color: red;
  }
  

.access Button   {
  color: #000000 !important;
  padding: 4%;
   font-size: 16px;
   width: 90%;
   margin: 5%;
   display: flex;
   justify-content: center;
   cursor: pointer;
 
}
.access Button:hover{
   background-color: #FCCD57;
   border: none;
}
  
.returnLink{
  color: #171733;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  padding: 5%;
  display: flex;
  justify-content: center;
}
  